@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(../../Image/ken2.jpg); background-position-y: 25%; background-size: 80%; background-position-x: 55%">

    <h1 style="color: white; text-shadow: 1 px 1px 1px #000">Área Administrativa</h1>
    <h2 style="color: white; text-shadow: 1 px 1px 1px #000">Somente para pessoas autorizadas </h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Médicos</h2>
        <h4>Cadastrar novos médicos</h4>
        <p><a class="btn btn-default" href="/Medicos/Create">Cadastrar &raquo;</a></p>
        <h4>Editar ou apagar médicos já cadastrados</h4>
        <p><a class="btn btn-default" href="/Medicos/Index">Editar &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Especialidades</h2>
        <h4>Cadastrar novas especialidades</h4>
        <p><a class="btn btn-default" href="/Especialidades/Create">Cadastrar &raquo;</a></p>
        <h4>Editar ou apagar especialidades já cadastradas</h4>
        <p><a class="btn btn-default" href="/Especialidades/Index">Editar &raquo;</a></p>
    </div>
