@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(../../Image/ken2.jpg); background-position-y: 25%; background-size: 80%; background-position-x: 55%">

    <h1 style="color: white; text-shadow: 1 px 1px 1px #000">Cadê meu médico?</h1>
    <h2 style="color: white; text-shadow: 1 px 1px 1px #000">Encontre já seu médico! </h2>
    <p><a href="/Medicos/Busca" class="btn btn-primary btn-lg">Consultar! &raquo;</a></p>
</div>