
@{
    ViewBag.Title = "AreaAdministrativa";
}

<h2>Área Administrativa</h2>
<div style="vertical-align:auto">

    <h2>Medicos</h2>
    <p>Gerenciamento de médicos:</p>
    <p><a class="btn btn-default" href="/Medicos/Create">Cadastrar &raquo;</a></p>
    <p><a class="btn btn-default" href="/Medicos/Delete">Deletar &raquo;</a></p>
    <p><a class="btn btn-default" href="/Medicos/Edit">Editar &raquo;</a></p>
    <h2>Especialidades</h2>
    <p>Gerenciamento de Especialidades:</p>
    <p><a class="btn btn-default" href="/Especialidades/Create">Cadastrar &raquo;</a></p>
    <p><a class="btn btn-default" href="/Especialidades/Delete">Deletar &raquo;</a></p>
    <p><a class="btn btn-default" href="/Especialidades/Edit">Editar &raquo;</a></p>
    <h2>Cidades</h2>
    <p>Gerenciamento de Cidades:</p>
    <p><a class="btn btn-default" href="/Cidades/Create">Cadastrar &raquo;</a></p>
    <p><a class="btn btn-default" href="/Cidades/Delete">Deletar &raquo;</a></p>
    <p><a class="btn btn-default" href="/Cidades/Edit">Editar &raquo;</a></p>
</div>