<div class="jumbotron" style="background-image: url(../../Image/ken2.jpg); background-position-y: 25%; background-size: 80%; background-position-x: 55%" >
   
    <h1 style="color: white; text-shadow: 1 px 1px 1px #000">Cadê meu médico?</h1>
    <h2 style="color: white; text-shadow: 1 px 1px 1px #000">Encontre já seu médico! </h2>
    <p><a href="/Medicos/Index" class="btn btn-primary btn-lg">Consultar! &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Gerenciamento de cadastros</h2>
        <p>Realize o login nessa área para poder cadastrar novos médicos, especialidades ou cidades a serem buscados</p>
        <p><a class="btn btn-default" href="/Home/AreaAdministrativa">Cadastrar &raquo;</a></p>
    </div>

</div>

